#============= hal_camera_default ==============
allow hal_camera_default gpsd_exec:file getattr;
allow hal_camera_default sysfs:file { read open getattr };
allow hal_camera_default vndbinder_device:chr_file { read write open ioctl };
